<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@drawable/weather_partly_cloudy_day_pixel"
        android:label="@string/app_name"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data
            android:name="org.breezyweather.PROVIDER_CONFIG"
            android:resource="@xml/config" />
        <meta-data
            android:name="org.breezyweather.DRAWABLE_FILTER"
            android:resource="@xml/drawable_filter" />
        <meta-data
            android:name="org.breezyweather.ANIMATOR_FILTER"
            android:resource="@xml/animator_filter" />
        <meta-data
            android:name="org.breezyweather.SHORTCUT_FILTER"
            android:resource="@xml/shortcut_filter" />
        <meta-data
            android:name="org.breezyweather.SUN_MOON_FILTER"
            android:resource="@xml/sun_moon_filter" />

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.breezyweather.ICON_PROVIDER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
